body {
  margin: 0;
}

.container {
  display: flex;
  position: absolute;
  height: 100vh;
  margin: 0;
}

.left-panel {
  width: 30%;
  background: linear-gradient(to bottom, #a83131, #333397);
}

.right-panel {
  width: 70%;
  background-image: url('assets/background-right.png');
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 0.3%;
  transform: translate(-50%, -50%); 
  max-width: 350px;
  max-height: 650px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.dropdown-toggle {
  height: 100%;
}

.dropdown-menu {
  max-height: 170px;
  overflow-y: auto;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.forgot-password-text {
  width: 100%;
  font-size: small;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-link {
  color: rgba(123, 129, 129, 0.614);
  font-size: small;
  align-self: center;
}